html, .App {
    background-color:  #f7f7f7;
}

.body-background {
    background: linear-gradient(to bottom, #171735, #1c1c8b);
}

.body-text-color {
    color: #171735;
}

h3, h2, p {
    margin: 0;
    font-family: 'Exo 2';
    color: #171735;
}

a {
    font-family: 'Work Sans';
}

