html, .App {
    background-color:  #e5e5eb;
}

.body-background {
    background: linear-gradient(to bottom, #171735, #e5e5eb);
}

.body-text-color {
    color: #171735;
}

h3, h2, p {
    margin: 0;
    font-family: 'Exo 2';
    color: #171735;
}

a {
    font-family: 'Work Sans';
}

